.container {
  display: flex;
  flex-direction: column;

  width: 500px;
  height: auto;
  background-color: wheat;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.head {
  font-size: 20px;
  text-align: center;
  margin: 15px;
}
.todo-wrap {
  width: auto;
}
.title {
  width: calc(100%-45px);
  border: 1px solid #eee;
  border-radius: 4px;

  padding: 10px;
}
.addButton {
  position: relative;
  width: 35px;
  height: 35px;
  border: none;

  border-radius: 4px;
  cursor: pointer;
  vertical-align: middle;
}

.list-t {
  list-style: none;
  padding: 0px;
}
