body {
  text-align: center;
}
.container {
  width: 500px;
  min-height: 100vh;
  margin: 0 auto;
  border: 1px solid #d3d3d3;
  padding: 0 15px;
}
.bscontainner {
  display: flex;
  flex-direction: column;

  height: 90vh;
  box-sizing: border-box;
}
.inputnum {
  display: flex;
  background-color: #f0f8ff;
  border-radius: 16px;
  padding: 0 20px;
  font-size: 60px;
  font-weight: 700;
  height: 90px;
}
.inputnum .answer {
  flex: 1 1;
}
.result {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 10px;
  gap: 10px;
  margin-bottom: 1rem !important;
  margin-top: 1rem !important;
  flex: 1 1 auto !important;
}
.numbers {
  position: relative;
}
.numbers-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 4px;
  gap: 4px;
}
.numbers-grid > button {
  height: 70px;
  font-size: 40px;
  border-radius: 10px;
}
.result_item {
  border-radius: 16px;
  background-color: #e6e6fa;
  font-size: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1;
}
.result_item div:first-child {
  display: flex;
  padding: 0 20px;
  justify-content: space-around;
  margin-bottom: 10px;
}
.result_item div:last-child {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 8px;
}
.result_item div:last-child span {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 20px;
}
